<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Hi </h1>
    <p>
      A agent has been added .
      Details:
      <table>
        <tr>
          <td>Agent Name</td>
          <td><%= @agent.name %></td>
        </tr>
        <tr>
          <td>Email</td>
          <td><%= @agent.email %></td>
        </tr>
        <tr>
          <td>Agent Name</td>
          <td><%= @agent.address %></td>
        </tr>
        <tr>
          <td>Agent Name</td>
          <td><%= @agent.phone %></td>
        </tr>
      </table>
    </p>
  </body>
</html>
