 <h1>My Patient</h1>

<div class="base_mypatients">

<% if @patients.count > 0 %>
  <div class="my_patients">
    <%= render  'agents/patients' %>
  </div>
<% else %>
  <div><h3>No Patients associated with you. </h3></div>
<% end %>
<br/>
<div class="add_patient_div">
  <%= link_to "Add Patient", new_patient_path, :class => "btn_patient", :remote => true%>
</div>
</div>
<div id="patient_form">
  <%= render 'patients/new' %>
</div>
