.navbar-brand{
  padding: 10px;
  font-size: 25px;
  font-family: icon;
}
.panel-login {
  border-color: #ccc;
  -webkit-box-shadow: 0px 2px 3px 0px rgba(0,0,0,0.2);
  -moz-box-shadow: 0px 2px 3px 0px rgba(0,0,0,0.2);
  box-shadow: 0px 2px 3px 0px rgba(0,0,0,0.2);
}
.panel-login>.panel-heading {
  color: #00415d;
  background-color: #fff;
  border-color: #fff;
  text-align:center;
}
.panel-login>.panel-heading a{
  text-decoration: none;
  color: #666;
  font-weight: bold;
  font-size: 15px;
  -webkit-transition: all 0.1s linear;
  -moz-transition: all 0.1s linear;
  transition: all 0.1s linear;
}
.panel-login>.panel-heading a.active{
  color: #029f5b;
  font-size: 18px;
}
.panel-login>.panel-heading hr{
  margin-top: 10px;
  margin-bottom: 0px;
  clear: both;
  border: 0;
  height: 1px;
  background-image: -webkit-linear-gradient(left,rgba(0, 0, 0, 0),rgba(0, 0, 0, 0.15),rgba(0, 0, 0, 0));
  background-image: -moz-linear-gradient(left,rgba(0,0,0,0),rgba(0,0,0,0.15),rgba(0,0,0,0));
  background-image: -ms-linear-gradient(left,rgba(0,0,0,0),rgba(0,0,0,0.15),rgba(0,0,0,0));
  background-image: -o-linear-gradient(left,rgba(0,0,0,0),rgba(0,0,0,0.15),rgba(0,0,0,0));
}
.panel-login input[type="text"],.panel-login input[type="email"],.panel-login input[type="password"] {
  height: 45px;
  border: 1px solid #ddd;
  font-size: 16px;
  -webkit-transition: all 0.1s linear;
  -moz-transition: all 0.1s linear;
  transition: all 0.1s linear;
}
.panel-login input:hover,
.panel-login input:focus {
  outline:none;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  border-color: #ccc;
}
.btn-login {
  background-color: #59B2E0;
  outline: none;
  color: #fff;
  font-size: 14px;
  height: auto;
  font-weight: normal;
  padding: 14px 0;
  text-transform: uppercase;
  border-color: #59B2E6;
}
.btn-login:hover,
.btn-login:focus {
  color: #fff;
  background-color: #53A3CD;
  border-color: #53A3CD;
}
.forgot-password {
  text-decoration: underline;
  color: #888;
}
.forgot-password:hover,
.forgot-password:focus {
  text-decoration: underline;
  color: #666;
}

.btn-register {
  background-color: #1CB94E;
  outline: none;
  color: #fff;
  font-size: 14px;
  height: auto;
  font-weight: normal;
  padding: 14px 0;
  text-transform: uppercase;
  border-color: #1CB94A;
}
.btn-register:hover,
.btn-register:focus {
  color: #fff;
  background-color: #1CA347;
  border-color: #1CA347;
}

.dynamicTile .col-sm-2.col-xs-4 {
  padding: 5px;
}

.bigicon {
  font-size: 67px;
  color: white;
  margin-top: 20px;
  margin-bottom: 10px;
}

.icontext {
  color: white;
  font-size: 27px;
}

.bigicondark {
  font-size: 67px;
  color: black;
  margin-top: 20px;
  margin-bottom: 10px;
}

.icontextdark {
  color: black;
  font-size: 27px;
}

.dynamicTile .col-sm-4.col-xs-8 {
  padding: 5px;
}

#tile1 {
  background: #7C91C7;
}

#tile2 {
  background: #3B579D;
}

#tile3 {
  background: #153178;
}

#tile4 {
  background: #EACF46;
}

#tile5 {
  background: #EACF46;
}

#tile6 {
  background: #FFED94;
}

#tile7 {
  background: white;
}

#tile8 {
  background: #03133C;
}

#tile9 {
  background: #EACF46;
}

#tile10 {
  background: #EACF46;
}

.tilecaption {
  position: relative;
  top: 50%;
  transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  margin: 0!important;
  text-align: center;
  color: white;
  font-family: Segoe UI;
  font-weight: lighter;
}
#colleague_table{
  width: 50%;
  margin-left: 350px;
}
.error {
    color: red;
    font-style: italic;
    font-weight: bold;
}
.add_agent {
    padding: 30px;
    width: 440px;
}

.status_radio{
  font-family: Times New Roman;
  font-size: 16px;
  font-weight: bold;
  margin-left: 39%;
  padding: 15px;
}
#agents {
    padding: 20px;
}

.btn_patient{
  background-color:#44c767;
  -moz-border-radius:28px;
  -webkit-border-radius:28px;
  border-radius:28px;
  border:1px solid #18ab29;
  display:inline-block;
  cursor:pointer;
  color:#ffffff;
  font-family:Arial;
  font-size:17px;
  padding:9px 31px;
  text-decoration:none;
  text-shadow:0px 1px 0px #2f6627;
  margin-left: 5px;
}



.base_mypatients {
    height: auto;
    left: 20%;
    position: absolute;
    width: 800px;
}
tr [colspan="3"] {
    text-align: center;
}
.pagination{
  padding-left: 75%;
}