<h1>All Agents</h1>
<table class="table table-striped table-bordered" id="all_agents_table">

  <thead>
    <tr>
      <th>Agent Name</th>
    </tr>
  </thead>
  <tbody>
  <%@agents.each do |agent|%>
    <tr>
      <td><%= link_to "#{agent.name}", patients_by_agent_member_path(agent) ,:remote => true %>  </td>
    </tr>
  <%end%>
  </tbody>


</table>

<div id="patient_popup"></div>